<header class="top-banner">
  <a href="/" class="top-banner__home-link">Kenan Berker</a>
  <nav>
    <ul>
      <li>
        <a href="/" class="top-banner__home-link">Home</a>
      </li>
      <li>
        <a href="/blog" class="top-banner__home-link">Blog</a>
      </li>
    </ul>
  </nav>
</header>